@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-primary: hsl(252, 7%, 14%);
  --clr-secondary: hsl(160.43, 93.88%, 19.22%);
  --clr-body: hsl(0, 0%, 100%);

  --ff-primary: "Plus Jakarta Sans", sans-serif;
  --ff-secondary: "Caveat", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  background-color: var(--clr-body);
  color: var(--clr-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 4.5rem;
  background-color: transparent;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.nav__logo {
  font-family: var(--ff-secondary);
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--clr-secondary);
}

.nav__logo span {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  margin-left: 0.375rem;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav__close {
  color: var(--clr-body);
}

.nav__toggle {
  color: var(--clr-secondary);
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__link {
  color: var(--clr-body);
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--clr-secondary);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav__close:hover {
  color: var(--clr-secondary);
}

.scrolled {
  background-color: var(--clr-body);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.hero {
  background-color: hsl(30, 15.38%, 94.9%);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 2.5rem;
}

.hero__title h1 {
  color: var(--clr-secondary);
  font-size: 2rem;
  font-weight: 700;
}

.hero__title p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: hsl(69, 29%, 49%);
}

.hero__img {
  width: 300px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.menu__title {
  text-align: center;
  color: var(--clr-secondary);
  font-size: 2rem;
}

.menu__lists {
  position: relative;
}

.menu__lists ul {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  padding: 10px 12px;
  font-size: 0.875rem;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-primary);
}

.active {
  background-color: var(--clr-secondary);
  color: var(--clr-body);
  transition: 0.4s ease-in-out;
}

.menu__content {
  display: flex;
  width: 100%;
  height: auto;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.card__img {
  width: 92px;
  height: 92px;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card__content {
  flex: 1;
  padding-left: 1.25rem;
}

.card__content h2 {
  font-size: 1rem;
  margin-bottom: 0.375rem;
}

.card__content span {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-secondary);
}

.card__content p {
  font-size: 0.75rem;
  margin-top: 0.375rem;
  color: var(--clr-primary);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.hide {
  display: none;
}

.about {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.about__container {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about__container img {
  object-fit: cover;
  object-position: center;
}

.about__content {
  padding: 1rem;
}

.about__content h1 {
  font-size: 2rem;
  color: var(--clr-secondary);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.about__content p {
  font-size: 1rem;
  color: var(--clr-primary);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--clr-primary);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
}

.show-menu {
  right: 0;
}

@media screen and (min-width: 767px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__links {
    padding-top: 0;
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__link {
    position: relative;
    color: var(--clr-secondary);
    font-size: 1rem;
    font-weight: 700;
  }

  .hero__container {
    padding-top: 13rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    text-align: initial;
  }

  .hero__title h1 {
    font-size: 5.5rem;
  }

  .hero__title p {
    margin-top: 1.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .hero__img {
    width: 80%;
  }

  .menu__container {
    flex-direction: row;
    margin-top: 60px;
    justify-content: start;
    align-items: start;
  }

  .menu__title {
    font-size: 4rem;
  }

  .menu__lists ul {
    flex-direction: column;
    align-items: end;
    width: 100%;
    box-shadow: none;
    border-radius: 1px;
    overflow: hidden;
  }

  .btn {
    padding: 10px 0;
  }

  .active {
    background-color: transparent;
    color: var(--clr-secondary);
  }

  .menu {
    margin-top: 10rem;
  }

  .menu__item button {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .menu__content {
    padding-left: 3rem;
    margin-top: 0;
  }

  .card {
    width: 48%;
  }

  .card__img {
    width: 172px;
    height: 172px;
  }

  .card__content {
    padding-left: 1.75rem;
  }

  .card__content h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .card__content span {
    font-size: 1.125rem;
  }

  .card__content p {
    font-size: 0.875rem;
    margin-top: 1rem;
  }

  .about {
    flex-direction: row;
    margin-top: 10rem;
  }

  .about__container {
    max-width: 727px;
    -webkit-mask-image: linear-gradient(to right, black, transparent 100%);
    mask-image: linear-gradient(to right, black, transparent 100%);
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 4rem;
    max-width: 50%;
  }

  .about__content h1 {
    font-size: 4rem;
  }

  .about__content p {
    font-size: 1.15rem;
  }
}
