@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-primary: hsl(252, 7%, 14%);
  --clr-secondary: hsl(160.43, 93.88%, 19.22%);
  --clr-body: hsl(0, 0%, 100%);

  --ff-primary: "Plus Jakarta Sans", sans-serif;
  --ff-secondary: "Caveat", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  background-color: var(--clr-body);
  color: var(--clr-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 4.5rem;
  background-color: transparent;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.nav__logo {
  font-family: var(--ff-secondary);
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--clr-secondary);
}

.nav__logo span {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  margin-left: 0.375rem;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav__close {
  color: var(--clr-body);
}

.nav__toggle {
  color: var(--clr-secondary);
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__link {
  color: var(--clr-body);
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--clr-secondary);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav__close:hover {
  color: var(--clr-secondary);
}

.scrolled {
  background-color: var(--clr-body);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.hero {
  background-color: hsl(30, 15.38%, 94.9%);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 2.5rem;
}

.hero__title h1 {
  color: var(--clr-secondary);
  font-size: 2rem;
  font-weight: 700;
}

.hero__title p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: hsl(69, 29%, 49%);
}

.hero__img {
  width: 300px;
}

.menu {
  margin-top: 5rem;
}

.menu__container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.menu__lists {
  position: relative;
}

.menu__lists ul {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  padding: 10px 12px;
  font-size: 0.875rem;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-primary);
}

.active {
  background-color: var(--clr-secondary);
  color: var(--clr-body);
  transition: 0.4s ease-in-out;
}

.menu__content {
  display: flex;
  width: 100%;
  height: auto;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.card__img {
  width: 92px;
  height: 92px;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card__content {
  flex: 1;
  padding-left: 1.25rem;
}

.card__content h2 {
  font-size: 1rem;
  margin-bottom: 0.375rem;
}

.card__content span {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-secondary);
}

.card__content p {
  font-size: 0.75rem;
  margin-top: 0.375rem;
  color: var(--clr-primary);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.hide {
  display: none;
}

.about {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.about__container {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about__container img {
  object-fit: cover;
  object-position: center;
}

.about__content {
  padding: 1rem;
}

.about__content h1 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.about__content p {
  font-size: 0.875rem;
  color: var(--clr-primary);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.title {
  text-align: center;
  color: var(--clr-secondary);
  font-size: 2rem;
}

.border {
  padding: 1.15rem;
  border: 1px solid var(--clr-secondary);
  border-radius: 0.875rem;
}

.icon {
  margin-top: 3px;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--clr-secondary);
}

.store {
  margin-top: 5rem;
}

.store__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.875rem;
}

.store__container .card__content p {
  margin-top: 0;
}

.store__container .card__content {
  padding-left: 0;
}

.store__content {
  display: flex;
}

.store__content p:nth-child(2) {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  color: var(--clr-secondary);
  font-size: 0.75rem;
  font-weight: 500;
}

.store__container .card__content span {
  font-size: 0.813rem;
  margin-top: 2px;
  font-weight: 400;
  color: var(--clr-primary);
}

.store__container .card {
  flex-direction: column;
}

.store__container .card__img {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}

.contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact > p {
  color: gray;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
}

.contact__box {
  flex: 1;
  height: 500px;
  background-color: var(--clr-secondary);
}

.contact__form {
  flex: 1;
  height: 500px;
  background-color: var(--clr-body);
}

.contact__box {
  padding: 2rem;
  border-radius: 1rem;
}

.contact__box {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.contact__box h1 {
  font-size: 1.125rem;
}

.contact__box p {
  font-size: 0.813rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.contact__box .icon {
  color: #fff;
  margin-right: 1.5rem;
  font-size: 1.25rem;
}

.content__list {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.content__list span {
  font-size: 0.813rem;
}

.contact__form {
  padding: 2rem 0;
  margin-bottom: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}

input,
textarea {
  background-color: var(--clr-body);
  border: 1px solid rgba(14, 17, 17, 0.3);
  color: rgba(3, 95, 65, 0.7);
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  padding: 0.75rem 0.938rem;
}

textarea {
  max-height: 150px;
}

.form button {
  background-color: var(--clr-secondary);
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  border: none;
  padding: 0.75rem 0.938rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

footer {
  background-color: #e2edec;
  padding-bottom: 2rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  gap: 1rem;
}

.footer h1 {
  color: var(--clr-secondary);
  margin-bottom: 1rem;
  font-family: var(--ff-secondary);
  font-size: 3rem;
  position: relative;
  width: 100%;
}

.footer h1 span {
  color: var(--clr-secondary);
  position: absolute;
  font-size: 1.5rem;
  top: 0.5rem;
  margin-left: 0.5rem;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left .right,
h2 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: #1e4a3c;
}

.left__content {
  display: flex;
}

.left__content p {
  color: #1e4a3c;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.left__content p:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.right {
  margin-top: 2.5rem;
}

.right p {
  color: #1e4a3c;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.right p:nth-child(odd) {
  margin-top: 1rem;
}

.copyright {
  margin-top: 1rem;
  border-top: 1px solid rgba(150, 174, 166, 0.295);
}

.copyright p {
  color: #1e4a3c;
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding: 1.5rem 1.5rem;
}

.blog {
  margin-top: 5rem;
  background-color: rgba(231, 240, 238, 0.3);
}

.blog__content {
  padding: 2rem 1rem;
}

.blog__content > p {
  text-align: center;
  margin: 1rem 0;
  color: gray;
}

.blog__content img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 200px;
  padding-top: 1rem;
}

.blog__detail {
  padding: 0.875rem 0;
}

.blog__detail h1 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.blog__detail span {
  font-size: 0.75rem;
  color: gray;
}

.blog__detail p {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 1px;
}

.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-secondary);
  width: fit-content;
  padding: 0.75rem 0.813rem;
  margin-top: 1rem;
  cursor: pointer;
}

.read-more .icon {
  font-size: 1.25rem;
}

.read-more p {
  font-size: 0.875rem;
  color: #1e4a3c;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--clr-primary);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
}

.show-menu {
  right: 0;
}

@media screen and (min-width: 767px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__links {
    padding-top: 0;
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__link {
    position: relative;
    color: var(--clr-secondary);
    font-size: 1rem;
    font-weight: 700;
  }

  .hero__container {
    padding-top: 13rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    text-align: initial;
  }

  .hero__title h1 {
    font-size: 5.5rem;
  }

  .hero__title p {
    margin-top: 1.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .hero__img {
    width: 80%;
  }

  .title {
    font-size: 4rem;
  }

  .menu__container {
    flex-direction: row;
    margin-top: 60px;
    justify-content: start;
    align-items: start;
  }

  .menu__lists ul {
    flex-direction: column;
    align-items: end;
    width: 100%;
    box-shadow: none;
    border-radius: 1px;
    overflow: hidden;
  }

  .btn {
    padding: 10px 0;
  }

  .active {
    background-color: transparent;
    color: var(--clr-secondary);
  }

  .menu {
    margin-top: 10rem;
  }

  .menu__item button {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .menu__content {
    padding-left: 3rem;
    margin-top: 0;
  }

  .card {
    width: 48%;
  }

  .card__img {
    width: 172px;
    height: 172px;
  }

  .card__content {
    padding-left: 1.75rem;
  }

  .card__content h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .card__content span {
    font-size: 1.125rem;
  }

  .card__content p {
    font-size: 0.875rem;
    margin-top: 1rem;
  }

  .about {
    flex-direction: row;
    margin-top: 10rem;
  }

  .about__container {
    max-width: 727px;
    -webkit-mask-image: linear-gradient(to right, black, transparent 100%);
    mask-image: linear-gradient(to right, black, transparent 100%);
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 4rem;
    max-width: 50%;
  }

  .about__content p {
    font-size: 1rem;
  }

  .store {
    margin-top: 10rem;
  }

  .store__container {
    flex-direction: row;
    margin-top: 3.75rem;
  }

  .store__container .card {
    flex-direction: row;
  }

  .store__container .card__img {
    width: 172px;
    height: 172px;
    margin-bottom: 0;
  }

  .store__container .card__content {
    padding-left: 1.25rem;
  }

  .contact {
    margin-top: 10rem;
  }

  .contact > p {
    font-size: 1.125rem;
  }

  .contact__container {
    flex-direction: row;
  }

  .contact__box h1 {
    font-size: 1.75rem;
  }

  .contact__box p,
  .content__list span {
    font-size: 0.875rem;
  }

  .content__list > .icon {
    font-size: 1.75rem;
  }

  .contact__form {
    padding: 0 2rem;
  }

  .footer {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer h1,
  .left {
    width: 50%;
  }

  .right {
    margin-top: 0;
  }

  .blog {
    margin-top: 10rem;
  }

  .blog__content img {
    height: 400px;
  }
}
